p {
    font-size: 20pt;
    text-align: center;
    font-style: oblique;
    position: sticky;
}

p1 {

    border: 3px solid;
    font-size: 20pt;
    border-color: rgb(38, 0, 255);
}


.pag1 {
    border: 3px solid;
    font-size: 20pt;
    border-color: rgb(1, 1, 11);
}

p2 {

    border: 3px solid;
    font-size: 20pt;
    border-color: rgb(255, 0, 13);
}


.pag2 {
    border: 3px solid;
    font-size: 20pt;
    border-color: rgb(11, 11, 250);
}
p3 {

    border: 3px solid;
    font-size: 20pt;
    border-color: rgb(0, 255, 8);
}


.pag3 {
    border: 3px solid;
    font-size: 20pt;
    border-color: rgb(181, 184, 7);
}
p4 {

    border: 3px solid;
    font-size: 20pt;
    border-color: rgb(0, 21, 255);
}


.pag4 {
    border: 3px solid;
    font-size: 20pt;
    border-color: rgb(7, 184, 13);
}